body {
  padding: 20px;
  background-color: #1F2124;
}

h1 {
  color: white;
}

a:link {
  color: #A1C323;
  font-size: 20px;
}

a:hover {
  color: #F96441;
  font-size: 20px;
  font-style: italic;
}

a:visited {
  color: #8EAEC4;
  font-size: 20px;
}

a:active {
  color: #466900;
  font-size: 20px;
}
